body {
    background-color: #BCED43;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #0078d4;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.column {
    margin: 0 20px; /* Espaço entre as colunas de botões */
}

.column a {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 18px;
    margin-bottom: 10px; /* Espaço entre os botões */
    display: block;
    width: 150px;
    cursor: pointer;
}

.trh{
    background-color: #CE0000;
}

.tsh{
    background-color: #FFF500;
}

.acth{
    background-color: #7843E6;
}

.cortisol{
    background-color: #E52687;
}

.testosterona{
    background-color: #39CAFE;
}

.lh{
    background-color: #FE6164;
}

