@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0px;
    padding: 0px; 
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: #040D12;
    padding: 2% 8%;
    text-align: center;
    color: #93B1A6;
    font-size: 18px;
}

.carrossel{
    background-color: #93B1A6;
    color: #2b7070;
    padding: 2%;
}

.carrossel h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}

.swiper{
    width: 60%;
    border: 3px solid #2b7070;
    border-radius: 8px;
}

.swiper img{
    width: 100%;
    height: auto;
}

.swiper-pagination{
    display: none;
    position: initial;
}

.sessao1{
    background-color: #2b7070;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

.sessao1 h2 {
    color: #93B1A6;
    font-size: 32px;
    text-align: center;
}

.sessao1 img{
    width: 50%;
}

.hormonio-selecao{
    width: 50%;
}

.hormonio-form {
    margin-top: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 3px solid #93B1A6;
    border-radius: 8px;
    padding: 20px;
}

.hormonio-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.hormonio-item input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 3px solid rgb(4, 42, 63);
    border-radius: 50%;
    cursor: pointer;
}

.hormonio-item input[type="radio"]:checked {
    background: rgb(4, 42, 63); 
}

.hormonio-item label {
    cursor: pointer;
    font-size: 20px;
    color: #93B1A6;
}

.sessao2{
    background-color: #93B1A6;
    color: #2b7070;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.sessao2 img{
    width: 50%;
    height: auto;
}

.sessao2-texto{
    width: 50%;
}

.destaque{
    font-weight: bold;
    color: #2b7070;
}

.sessao2 h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.sessao2 p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}

video{
    border-radius: 8px;
    width: 50%;
    height: auto;
}

.video1{
    border: 3px solid #93B1A6;
}

.video2{
    border: 3px solid #2b7070;
}

.sessao3{
    background-color: #2b7070;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.sessao3 label,span {
    font-size: 20px;
    color: #090a0a;
}

.sessao3 .dose-info{
    display: flex;
    justify-content: space-between;
    color: rgb(4, 42, 63);
    font-size: 20px;
}

.sessao3 h2{
    color: rgb(4, 42, 63);
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.orgao-barras{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.orgao-barra{
    width: 50%;
    justify-content: center;
}

.orgao{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo da barra de rolagem para todos os navegadores */
.barra {
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 8px;
}

/* Estilo do polegar (cursor) da barra de rolagem para WebKit (Chrome, Safari) */
.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 40px;
    background: #93B1A6;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilo do polegar (cursor) da barra de rolagem para o Firefox */
.barra::-moz-range-thumb {
    width: 20px;
    height: 40px;
    background: #93B1A6;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilo do track (barra) da barra de rolagem para o Firefox */
.barra::-moz-range-track {
    background: #ccc;
    border-radius: 8px;
}

/* Estilo do polegar (cursor) da barra de rolagem para navegadores que suportam o padrão de range input */
.barra::-ms-thumb {
    width: 20px;
    height: 40px;
    background: #93B1A6;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilo do track (barra) da barra de rolagem para navegadores que suportam o padrão de range input */
.barra::-ms-track {
    background: #ccc;
    border-radius: 8px;
}

footer{
    background-color: #040D12;
    padding: 2% 8%;
    text-align: center;
    color: #93B1A6;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-left: 12px;
}

@media (max-width: 1200px) {

    header{
        font-size: 14px;
        padding: 8%;
    }

    .carrossel{
        padding: 8%;
    }

    .swiper{
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .sessao1{
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .sessao1 h2 {
        margin-bottom: 15px;
    }

    .sessao1 img, .sessao2 img{
        width: 100%;
    }
    
    .hormonio-selecao{
        width: 100%;
    }

    .sessao2{
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .sessao2-texto{
        width: 100%;
    }

    video{
        width: 100%;
    }

    .sessao3{
        padding: 8%;
    }

    .orgao-barras{
        flex-direction: column;
        gap: 0px;
    }

    .orgao-barra{
        width: 100%;
    }

    footer{
        padding: 8%;    
        flex-direction: column;
    }

    footer a{
        margin-left: 0px;
        margin-top: 12px;
    }
    
}