@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0px;
    padding: 0px; 
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: #040D12;
    padding: 2% 8%;
    text-align: center;
    color: #93B1A6;
    font-size: 18px;
}

.carrossel{
    background-color: #93B1A6;
    color: #2b7070;
    padding: 2%;
}

.carrossel h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}

.swiper{
    width: 60%;
    border: 3px solid #2b7070;
    border-radius: 8px;
}

.swiper img{
    width: 100%;
    height: auto;
}

.swiper-pagination{
    display: none;
    position: initial;
}

.sessao1{
    background-color: #2b7070;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

.sessao1 h2 {
    color: #93B1A6;
    font-size: 32px;
    text-align: center;
}

.sessao1 img{
    width: 50%;
}

.hormonio-selecao{
    width: 50%;
}

.hormonio-form {
    margin-top: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 3px solid #93B1A6;
    border-radius: 8px;
    padding: 20px;
}

.hormonio-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.hormonio-item input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 3px solid #93B1A6;
    border-radius: 50%;
    cursor: pointer;
}

.hormonio-item input[type="radio"]:checked {
    background: #93B1A6; 
}

.hormonio-item label {
    cursor: pointer;
    font-size: 20px;
    color: #93B1A6;
}

.sessao2{
    background-color: #93B1A6;
    color: #2b7070;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 50px;
}

.sessao2 img{
    width: 50%;
    height: auto;
}

.sessao2-texto{
    width: 50%;
}

.sessao2 h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.sessao2 p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}

video{
    border-radius: 8px;
    width: 50%;
    height: auto;
}

.video1{
    border: 3px solid #93B1A6;
}

.video2{
    border: 3px solid #2b7070;
}

.sessao3{
    background-color: #2b7070;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.sessao3 label,span {
    font-size: 20px;
    color: #93B1A6;
}

.sessao3 .dose-info{
    display: flex;
    justify-content: space-between;
    color: #93B1A6;
    font-size: 20px;
}

.sessao3 h2{
    color: #93B1A6;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.orgao-barras{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.orgao-barra{
    width: 50%;
    justify-content: center;
}

.orgao{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.barra {
    height: 30px;
    -webkit-appearance: none; /* Remova a aparência padrão do WebKit */
    appearance: none; /* Remova a aparência padrão */
    background: #ccc; /* Cor de fundo do track (barra) */
    outline: none; /* Remova a borda de foco padrão */
    border-radius: 8px;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remova a aparência padrão do polegar no WebKit */
    appearance: none; /* Remova a aparência padrão do polegar */
    width: 20px; /* Largura do polegar (cursor) */
    height: 40px; /* Altura do polegar (cursor) */
    background: #93B1A6; /* Cor de fundo do polegar (cursor) */
    cursor: pointer; /* Altere o cursor ao passar o mouse sobre o polegar (cursor) */
    border-radius: 8px;
}

.sessao4{
    background-color: #93B1A6;
    color: #2b7070;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.sessao4-texto{
    width: 50%;
}

.sessao4 h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.sessao4 p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}

.sessao4 img{
    width: 50%;    
    max-height: 400px;
}

footer{
    background-color: #040D12;
    padding: 2% 8%;
    text-align: center;
    color: #93B1A6;
}

@media (max-width: 1200px) {

    header{
        font-size: 14px;
        padding: 8%;
    }

    .carrossel{
        padding: 8%;
    }

    .swiper{
        width: 100%;
    }

    .swiper-pagination{
        display: block;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .sessao1{
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .sessao1 h2 {
        margin-bottom: 15px;
    }

    .sessao1 img, .sessao2 img, .sessao4 img{
        width: 100%;
    }
    
    .hormonio-selecao{
        width: 100%;
    }

    .sessao2{
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .sessao2-texto{
        width: 100%;
    }

    video{
        width: 100%;
    }

    .sessao3{
        padding: 8%;
    }

    .orgao-barras{
        flex-direction: column;
        gap: 0px;
    }

    .orgao-barra{
        width: 100%;
    }

    .sessao4{
        display: flex;
        flex-direction: column;
        padding: 8%;
    }

    .sessao4-texto{
        width: 100%;
    }

    footer{
        padding: 8%;    
    }
    
}